.container {
    margin-bottom: 50px;
}

.orange-bg {
    background-color: #fceae8;
    border-radius: 10p;
}

.carousel-item {
    padding: 20px 40px;
}

.price {
    color: #FF136F;
}

.buy_now_button {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.cat1 {
    background-color: orangered;
}

.cat2 {
    background-color: palevioletred;
}

.cat3 {
    background-color: lightblue;
}

.cat1, .cat2, .cat3 {
    padding: 10px 30px;
    border-radius: 10px;
}

.categories h1 {
    color: white;
}

.categories img {
    width: 100px;
}

.card {
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}

#contact {
    height: 300px;
}

#contact h6 {
    color: gray;
}

footer {
    text-align: center;
}

.submit {
    margin-top: 10px;
}